Allow users to specify escape/quote/etc. characters

Some users need to be able to specify escape/quote/etc. characters to parse files that do not follow the default RFC4180 Section 2 profile.