Add support for different quote/escape characters to csvsum

csvsum falls over when different quote/escape characters (ie, not the RFC4180 Section 2 https://tools.ietf.org/html/rfc4180#section-2 ) are used. Need to have an option to run csvsum with different quote/escape characters. This involves getting the desired characters from the user and then creating a new CsvSchema object that substitutes those characters that were changed from the defaults.